---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: '~/assets/images/banner.png',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Proven Expertise in Developing <br />
<span class="text-accent dark:text-white"> Advanced Payment Solutions</span></span>
    </Fragment>

    <Fragment slot="subtitle">
      BBS, or Business Based Solutions , is a company with proven expertise in developing advanced payment solutions. While the company was established in 2022, our team's expertise in the field dates back to 2010. Our mission is simple: We Supply Solutions.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->
  

  <!-- Steps2 Widget ****************** -->

  <Features2
    title="What services do we provide?"
    subtitle="We deliver creative, practical, and scalable solutions to help businesses across the MENA region grow, adapt, and lead in increasingly competitive markets."
    items={[
      {
        title: 'Product Development & Innovation',
        description:
          'We transform your innovative ideas into market-ready products, managing the entire lifecycle from concept to launch.',
        icon: 'flat-color-icons:idea',
      },
      {
        title: 'Custom Business Solutions',
        description:
          'Developing bespoke solutions tailored to your unique business challenges and objectives for maximum impact and efficiency.',
        icon: 'flat-color-icons:settings',
      },
      {
        title: 'CTO (Configure to Order)',
        description:
          'Offering flexible, configurable technical products and systems that are customized to meet your precise operational requirements.',
        icon: 'flat-color-icons:process',
      },
      {
        title: 'Market-Driven Technical Integration',
        description:
          'We bridge global innovation with local market needs by integrating cutting-edge technology that aligns with your strategic goals.',
        icon: 'flat-color-icons:advertising',
      },
       {
        title: 'B2B Services',
        description:
          'Facilitating powerful B2B partnerships and platforms, creating ecosystems that drive mutual growth and success.',
        icon: 'flat-color-icons:share',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>



  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={3}
    items={[
      {
        title: 'Palestine',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'UAE',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'China',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      }
    ]}
  />

  <!-- Features2 Widget ************** -->
</Layout>
