---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Products',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Products"
    title="Turn Your Payment Terminal Into a Marketing Tool"
    subtitle="Discover our advanced payment solutions, centered around a sturdy and elegant base for payment terminals. Our products are designed to provide organization and a secure installation, creating a professional appearance that reflects trust and safety. Each stand turns the payment terminal into a marketing tool and a visual identity for your brand, offering a practical and marketing-focused investment."
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Stands',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore our diverse products"
    subtitle="Discover our product selection below to streamline and elevate your business."
    columns={3}
    items={[
      {
        title: 'Stand',
        description:
          'Stands for payment terminals that provide organization and a secure installation, creating a professional appearance that reflects trust and safety.',
        icon: 'tabler:school',
      }
      
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Consistent quality and durability across all models.',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Available in different lengths to suit various work environments.',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:ruler-2',
      },
      {
        title: 'Multiple color options to align with the corporate identity.',
        description:
          'Save time and effort with our ready-to-use elements, including graphics, icons, and layouts that enhance the visual appeal of your creations.',
        icon: 'tabler:paint',
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Design Flexibility</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Terminal always securely fixed.',
        description:
          'Our sturdy stands feature a connecting plate with anti-slip rubber tips, ensuring the POS machine is always securely fixed in place.',
        icon: 'tabler:lock', // Icon updated for relevance
      },
      {
        title: 'Continuous charging with a clutter-free cable setup.',
        description:
          'Benefit from integrated charging with a cable that is neatly concealed inside the base, providing an elegant and professional appearance.',
        icon: 'tabler:plug', // Icon updated for relevance
      },
      {
        title: 'Visual interface that reflects the bank’s strength and durability.',
        description:
          'Made from industrial-grade aluminum, our stands can be customized with multiple color options and a branded cap to match your corporate identity.',
        icon: 'tabler:building-bank', // Icon updated for relevance
      },
      {
        title: 'A practical and marketing-focused investment.',
        description:
          'Our stands serve not only as a secure base for the terminal but also as a powerful marketing tool that reinforces your visual identity with every transaction.',
        icon: 'tabler:coin',
      },

    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
    
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Added Value</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->



  <!-- CallToAction Widget *********** -->

</Layout>
