---
import Image from '~/components/common/Image.astro';
---

<div class="flex items-center space-x-2">
  <Image
    src="~/assets/images/logo.png"
    alt="Logo"
    width={50}
  />
  <span class="text-2xl md:text-xl font-bold text-gray-900 dark:text-white">
    Business Based Solutions
  </span>
</div>